language: node_js
node_js:
  - "node"
addons:
  apt_packages:
    - pandoc
before_install:
    - "npm install -g gitbook-cli"
after_install:
    - "gitbook install"
script:
    - "npm run pub"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
